.container {
  position: relative;
}
.firstMovie {
  display: flex;
  justify-content: center;
  padding: 0 50px 50px 50px;
  height: 600px;
}

.movieListSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.title {
  /* position: absolute; */
  display: block;
  /* top: -30px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
}
