.nav {
  background-color: #2d2d2d;
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 20px 40px;
  box-sizing: border-box;
  z-index: 10;
}

.nav ul {
  display: flex;
  /* justify-content: center; */
  gap: 50px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}

.nav ul li a {
  position: relative;
}

.nav ul li span {
  position: absolute;
  right: 103%;
}
